<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278924279361-h9g36ufv99gqkkra51godp8alhqs6spq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278924279361-h9g36ufv99gqkkra51godp8alhqs6spq</string>
	<key>API_KEY</key>
	<string>AIzaSyAHaF_vLSkeYZSXGyMOWDx7lwDl1AnDNXE</string>
	<key>GCM_SENDER_ID</key>
	<string>278924279361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dharmlok</string>
	<key>PROJECT_ID</key>
	<string>dharmlok-da4e5</string>
	<key>STORAGE_BUCKET</key>
	<string>dharmlok-da4e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278924279361:ios:b358dd17f3a98af509d0c0</string>
	<key>DATABASE_URL</key>
	<string>https://dharmlok-da4e5.firebaseio.com</string>
</dict>
</plist>